* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/museu.jpg");
    background-size: contain;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 16px;
}