* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/museu.jpg"); /*Definiu imagem de fundo*/
    background-size: contain; /*Ajusta a imagem de fundo ao seu container*/
    font-family: Arial, Helvetica, sans-serif;
    font-family: 16px;
}