
.plano {
    padding: 10px;
    border: 1px solid #95a4a5;
    font-size: 1rem;
}

.plano__cabecalho {
    margin-bottom: 0;
    background-color: #ffcc33;
    color: #ffffff;
    font-size: 1.75em;
    text-align: center;
    line-height: 2.5;
}

.plano__preco {
    margin: 20px;
    font-size: 1.75em;
    text-align: center;
}

.plano__caracteristicas {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.plano__caracteristicas > li {
    text-align: center;
}

.plano__rodape {
    text-align: center;
}

.botao {
    display: inline-block;
    padding: 12px 16px;
    color: white;
    background-color: #00A696;
    text-decoration:  none;
    outline: none;
}

.botao--assinar {
    background-color: #00A696;
    color: rgb(255, 255, 255);
}

.botao:hover {
    background-color: #ffcc33;
}

.botao:focus {
    background-color: green;
}

.principal {
    font-size: 1.5rem;
    text-align: center;
}

.principal__titulo {
    color: #ffffff;
    font-size: 2.25em;
    text-shadow: 1px 2px #313131;
}

.principal__subtitulo {
    margin: 60px 0;
    color: #ffffff;
    font-size: 1.25em;
    text-shadow: 1px 2px #313131;
}

.principal__assinar {
    margin: 50px 0;
    color: #ffcc33;
    font-size: 1.25em;
    text-align: center;
}

.depoimento {
    font-size: 1.5em;
}

.depoimento > blockquote {
    padding: 0 60px;
    font-size: 1.25em;
    text-align: center;
}

.depoimento__autor {
    text-align: center;
}

.depoimento__autor > img {
    border-radius: 50%;
}

.depoimento__autor > p {
    margin-top: 10px;
}

.rodape {
    text-align: center;
}