.layout-cabecalho {
    height: 100vh;
    /* background-color: #a8f5db; */
    position: relative;
    overflow: hidden
}

/* ########################################################################################################### */

/*Revisado Leo*/
.layout-menubar{
    margin-top: 0;
    padding: 5px 0;

    background-color: #222;
    text-align: center;
    font-size: 1.5rem;
}

/*Revisado Leo*/
.layout-rodape {
    margin-top: 0;
    padding: 20px; 
    height: 400%;
    font-size: 0.9rem;
    color: white;
    background-color: #222;
}

/* ############################################################################################################ */