.layout-cabecalho {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden
    
}

/* ########################################################################################################### */

/*Revisado Leo*/
.layout-menubar {
    background-color: #005d92;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
}

/*Revisado Leo*/
.layout-rodape {
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    height: 400%;
    font-size: 0.9rem;
    color: white;
    background-color: #005d92;
}

/* ############################################################################################################ */

.layout-blocos {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;    /* Centraliza verticalmente */
    align-items: center;    /* Centraliza horizontalmente */
    min-height: 200px;    /* Altura mínima para uniformidade */
    text-align: center;    /* Centraliza texto */
    padding: 20px;    /* Aumenta espaçamento interno */
    border: 3px solid #000000; /* Borda mais espessa */
    width: 100%; /* Ocupa 100% do container pai */

}